
@{
    ViewData["Title"] = "About";
}

@*<h1>About</h1>*@

<div>
    <h2>Dev Barrett</h2>

    <p1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum eu mauris a feugiat. Pellentesque maximus libero velit, eu porttitor eros interdum ac.
        Vestibulum et vehicula enim. Nam porta orci tortor, scelerisque malesuada turpis auctor vitae.
        Mauris in euismod nibh. Sed cursus commodo erat, quis dapibus risus. Fusce placerat luctus blandit.
    </p1>

</div>


<div class="text-md-left">
    <h2>Shane Fensinger</h2>

    <p2>
        Fusce eu tempor orci. Duis in odio sit amet metus egestas vulputate. Aliquam erat volutpat. 
        In eget dolor felis. Suspendisse ornare, libero a aliquam condimentum, quam sem feugiat elit, ac volutpat leo tellus sit amet libero. Morbi non egestas leo. 
        Ut quis felis et tellus sollicitudin sagittis in non quam. Proin fringilla massa a nisl varius, quis suscipit mi semper.
        Ut fringilla consectetur justo, in mollis quam elementum sed. Pellentesque pretium, quam at congue posuere, est mi pretium turpis, a interdum magna tortor nec sem.         
    </p2>
</div>


