@{
    ViewData["Title"] = "Home Page";
}



<div class="text-md-left">
    <h2 class="display-4">A cool statement about huddl</h2>
</div>

<div class="text-md-left">
    
    <p4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum eu mauris a feugiat. Pellentesque maximus libero velit, eu porttitor eros interdum ac. 
        Vestibulum et vehicula enim. Nam porta orci tortor, scelerisque malesuada turpis auctor vitae.
        Mauris in euismod nibh. Sed cursus commodo erat, quis dapibus risus. Fusce placerat luctus blandit. 
   
    </p4>
</div>

