@page
@model Huddl.Pages.Establishment.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper

<head>
    <link rel="stylesheet" href="~/assets/css/black-dashboard.min.css" />
    <link rel="stylesheet" href="~/assets/demo/demo.css" />
</head>

<br />
<h2 class="text-info">Add Establishment</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Establishments.Establishment"></label>
            </div>
            <div class="col-6">
                <input asp-for="Establishments.Establishment" class="form-control" />
            </div>
            <span asp-validation-for="Establishments.Establishment" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Establishments.Address"></label>
            </div>
            <div class="col-6">
                <input asp-for="Establishments.Address" class="form-control" />
            </div>
            <span asp-validation-for="Establishments.Address" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Establishments.Team"></label>
            </div>
            <div class="col-6">
                <input asp-for="Establishments.Team" class="form-control" />
            </div>
            <span asp-validation-for="Establishments.Team" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to Establishments</a>
            </div>
            <div class="col-3">
                <a asp-page="Home" class="btn btn-success form-control">Home</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}