@page
@model Huddl.Pages.Beverage.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper

<head>
    <link rel="stylesheet" href="~/assets/css/black-dashboard.min.css" />
    <link rel="stylesheet" href="~/assets/demo/demo.css" />
</head>

<br />
<div class="container row p-0 m-0">
    <div class="col-9" style="text-align:center">
        <h1 class="text-info">Beverage List </h1>
    </div>

    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Add Beverage</a>
    </div>

    <div class="col-12">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Beverages.Count() > 0)
            {
                <table class="table table-striped" border="1">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Beverages.FirstOrDefault().Beverage"></label>
                        </th>

                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Beverages)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(m => item.Beverage)
                            </td>

                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }

                </table> }
            else
            {
                <p>No Beverages were added....</p>}
        </form>
    </div>

</div>
@section Scripts{
    <script src="~/js/establishment.js"></script>
}





